// 此自定义uView主题生成于2021-01-08 14:14
// 地址：http://www.uviewui.com/guide/theme.html

$u-type-primary: #fe9b2a;
$u-type-error: #fa3534;
$u-type-warning: #ff9900;
$u-type-success: #19be6b;
$u-type-info: #909399;
$u-type-primary-light: #ffecd6;
$u-type-error-light: #fef0f0;
$u-type-warning-light: #fdf6ec;
$u-type-success-light: #dbf1e1;
$u-type-info-light: #f4f4f5;
$u-type-primary-dark: #ff9318;
$u-type-error-dark: #dd6161;
$u-type-warning-dark: #f29100;
$u-type-success-dark: #18b566;
$u-type-info-dark: #82848a;
$u-type-primary-disabled: #ffb868;
$u-type-error-disabled: #fab6b6;
$u-type-warning-disabled: #fcbd71;
$u-type-success-disabled: #71d5a1;
$u-type-info-disabled: #c8c9cc;
$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;
$u-form-item-border-color: #dcdfe6;
$u-form-item-height: 70rpx;
